<a href="https://colab.research.google.com/github/eranCat/TitanicML/blob/main/TitanicMLDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv('/content/titanic_train.csv')

In [3]:
df_train['Sex'].value_counts()

Sex
1    456
0    256
Name: count, dtype: int64

#בדיקת סוגי משתנים
נבדוק אילו איזה סוגי משתנים יש לנו

In [14]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    712 non-null    int64
 1   Sex       712 non-null    int64
 2   Age       712 non-null    float64
 3   SibSp     712 non-null    int64
 4   Parch     712 non-null    int64
 5   Fare      712 non-null    float64
 6   Embarked  712 non-null    int64
 7   Survived  712 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 44.6 KB

In [9]:
pclass = df_train['Pclass'].unique()
sibsp = df_train['SibSp'].unique()
parch = df_train['Parch'].unique()
sibsp.sort()
print("pclass: ", pclass)
print("sibsp: ", sibsp)
print("parch: ", parch)

pclass:  [1 2 3]
sibsp:  [0 1 2 3 4 5 8]
parch:  [0 1 2 3 4 5 6]

סוגי המשתנים:


*   Pclass - משתנה שמי
*   SibSp - משתנה רווח
*   Parch - משתנה רווח

#בדיקת חריגות

נבדוק אם אין לנו נתונים חסרים על ידי בדיקה בפונקציית describe

In [43]:
df_train.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Survived
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,2.294944,0.640449,29.531213,0.528090,0.384831,32.379429,0.372191,0.394663
std,0.841990,0.480206,13.188028,1.055052,0.803085,49.836074,0.649970,0.489122
min,1.000000,0.000000,0.670000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.750000,0.000000,22.000000,0.000000,0.000000,7.925000,0.000000,0.000000
50%,3.000000,1.000000,29.699118,0.000000,0.000000,14.500000,0.000000,0.000000
75%,3.000000,1.000000,35.000000,1.000000,0.000000,31.275000,1.000000,1.000000
max,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,3.000000,1.000000

In [31]:
kidsSurvived=0
for i in range(712):
    if (df_train['Age'][i]<=18) and (df_train['Survived'][i]==1):
        kidsSurvived+=1
print(kidsSurvived)

56

In [33]:
menSurvived=0
for i in range(712):
    if (df_train['Sex'][i] == 1)and (df_train['Age'][i]>18) and (df_train['Survived'][i]==1):
        menSurvived+=1
print(menSurvived)

69

In [34]:
womenSurvived=0
for i in range(712):
    if (df_train['Sex'][i] == 0)and (df_train['Age'][i]>18) and (df_train['Survived'][i]==1):
        womenSurvived+=1
print(womenSurvived)

156

In [42]:
sum = womenSurvived+menSurvived+kidsSurvived
print("sum: ",sum)
if sum == (df_train['Survived']==1).sum():
    print("True")
else:
    print("False")

sum:  281
True

In [26]:
df_train['Survived'].value_counts()

Survived
0    431
1    281
Name: count, dtype: int64